#row_header {
	margin: 0;
	padding-bottom: 0;
}
#categoryMenu {
	
}
#categoryMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}
#categoryMenu li {
	display: inline-block;
}
#categoryMenu li a {
	text-decoration: none;
	padding: 3px 0;
	font-size: 10.5pt;
}
#categoryMenu li a span {
	padding: 0 15px;
	border-left: 1px solid #ccc;
}