body {
	padding: 0;
	margin: 0;
}
.contentArea {
	position: relative;
	width: 950px;
	margin: 0 auto;
}
/* data table*/
.dataTable{
	font-size:10pt;
}
.dataTable h5{
	font-weight: bold;
}
/* icon button*/
.iconButton a{
	font-size: 14pt;
	cursor: pointer;
	color: #009966;
	padding: 3px 6px;
	border-radius: 4px;
	border:1px solid #ccc;
	background-image: linear-gradient(#fff, #eee);
}
.iconButton a:hover{
	color: #009966;
	/*background-color: #d6e9e3;*/
	background-image: linear-gradient(#eee, #fff);
}
/* editForm*/
.editForm input{
	font-size: 10pt;
}
.editForm textarea{
	font-size: 10pt;
}
.editForm p{
	margin-top: 7px;
}

/* ===================================================== */
/* 						HEADER							 */
/* ===================================================== */
#header {

}
#websiteBtn {
	position: absolute;
	top: 10px;
	right: 0;
}
#websiteBtn a {
	display: block;
	text-decoration: none;
	color: #009966;
	background-color: #fff;
	padding: 5px 15px;
	border-radius: 5px;
	border: 1px solid #009966;
	font-size: 10pt;

}
#websiteBtn a:hover {
	color: #fff;
	background-color: #009966;
}
/* ===================================================== */
/* 						CONTENT							 */
/* ===================================================== */
#content {
	min-height: 300px;
}
#content_header {
	position: relative;
	background-color: #007f55;
	color: #fff;
	font-size: 0;
	font-family: Arial;
}
#content_header h2 {
	display: inline-block;
	text-align: left;
	font-size: 13pt;
	margin: 0 1px 0 0;
	padding: 10px 30px;
	background-color: #009966;
	border: 0;
	vertical-align: top;
}
.content_header_menu {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	vertical-align: top;
}
.content_header_menu li {
	display: inline-block;
}
.content_header_menu a {
	display: block;
	color: #fff;
	padding: 8px 15px;
	font-size: 11pt;
	text-decoration: none;
	cursor: pointer;
}
.content_header_menu a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #009966;
}
.content_header_menu .current {
	background-position: bottom center;
	background-repeat: no-repeat;
	background-image: url('../images/content_header_menu_current.png');
}
/* ===================================================== */
/* 						FOOTER							 */
/* ===================================================== */
#footer {
	border-top: 1px solid #ccc;
	text-align: center;
	padding: 10px 0;
	font-family: Arial;
	font-size: 0.7em;
}
/* ===================================================== */
/* 						MENU							 */
/* ===================================================== */
#menu {
	background-color: #444;
}
#menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}
#menu li {
	display: inline-block;
}
#menu li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px 30px;
	font-size: 12pt;
	text-transform: uppercase;
}
#menu li a:hover {
	background-color: #009966;
}
#menu .current {
	color: #00cc99;
}
#menu .current:hover {
	background-color: #444;
}
/* ===================================================== */
/* 						SUBMENU							 */
/* ===================================================== */
#subMenu {
	background-color: #ccc;
}
#subMenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}
#subMenu li {
	display: inline-block;
}
#subMenu li a {
	display: block;
	color: #444;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 12pt;
	text-transform: uppercase;
}
#subMenu li a:hover {
	color: #009966;
}
#subMenu .current {
	color: #009966;
	background-color: #e0e0e0;
}

.tagList{
	list-style-type: none;
	padding: 0 ;
	margin: 5px 0 0 20px ;
	font-size: 0;
}
.tagList li{
	display: inline-block;
	font-size: 10pt;
	padding: 3px 10px;
	color: #009966;
	border-radius: 4px;
	cursor: pointer;

}
.tagList li:hover{
		background-color: #d9e6e3;
}
