.previewImg {
	width: 250px;
	margin: 4px;
	border: 1px solid #ccc;
}
.loadingImg {
	display: inline-block;
	width: 250px;
	height: 150px;
	background-size: cover;
	background-color: #ccc;
	margin: 4px;
	border: 1px solid #ccc;
}