
#header{
	border-bottom: 1px solid #ccc;
}
#menu{
	font-family: Georgia, serif;
}
#menu ul{
	list-style: none;
	margin:0;
	padding: 0;
	text-align: center;
	border-top: 1px solid #ccc;

	/*background-color: yellow;*/
	/*font-size: 0;*/
}
#menu li{
	display: inline-block;
	padding: 0;
	margin:0;
}
#menu li a{
	/*background-color: red;*/
	margin: 10px 0;
	padding: 0 20px;
	display: block;	
	/*跳脫a的規範，block == div*/
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;

	/* 1em = 12pt 會繼承爸爸*/

	border-left: 1px solid #ccc;
}
/* handle exception */
#menu li .first{
	border-left: 0;
}

#menu li a:hover{
	color: #000;
}

#logo{
	text-align: center;
}

#footer{
	background-color: #1E2222;
	padding: 50px 0 80px;
	color: #CCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

a:link{
	color:#ccc;
	text-decoration: none;
}
a:link:hover{
	text-decoration: underline;
}
a:visited{
	color:#ccc;
}
#footer-logo{
	margin: 20px auto;
	text-align: center;
}
#footer-rights{
	text-align: center;
	margin: 20px auto 40px auto;
}
#footer{

	position: fixed;
	height: 100px;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
}
.space-for-footer{
	width:100%;
	display: block;
	height:200px;
	z-index:1;
	background-color: rgba(0,0,0,0.3);
}
